// variables, reseteos y luego secciones
@import './utilidades/reseteo';

@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';



.comunicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
@media (max-width: 780px){
    .icono-footer{
        height: 50px;
        width: 50px;
    }
    .redes-sociales{
        flex-direction: column;
    }
    footer{
        justify-content: center;
    }
}
@media (max-width: 937px){
    .contacto{
        padding: 0px;
    }
}
@media (max-width: 1440px){
    .comunicacion{
        overflow: scroll;
    }
}